<div class="row mt-1">
  <div class="col-xs">
      <h4 class="display-3 float-xs-right mb-2">Szukaj Muzyki</h4>
      <album-search-form></album-search-form>
  </div>
</div>
<div class="row mt-1">
  <div class="col-xs">
    <album-list></album-list>
  </div>
</div>